* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(28, 44, 116),
    rgb(29, 131, 177)
  );
  color: white;
  padding: 13px 30px;
  position: fixed;
  /* position: static; */
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  min-height: 50px;
}

nav ul {
  display: flex;
  gap: 15px;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  font-size: 18px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Playwrite AU QLD", cursive;
}

.hero {
  background-image: linear-gradient(
    to right,
    rgb(171, 174, 171),
    rgb(150, 223, 229)
  );
  height: 75vh;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.left-hero .one {
  font-size: 50px;
  color: rgb(12, 62, 143);
  font-weight: bolder;
}

.left-hero .two {
  font-size: 40px;
}

.bold {
  font-weight: bold;
}

.right-hero img {
  width: 30vw;
  border-radius: 50px;
}

.btn {
  padding: 7px 9px;
  border-radius: 4px;
  color: white;
  margin: 0 2px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  border-bottom: 2px solid rgb(12, 10, 83);
  background-color: rgba(9, 9, 177, 0.445);
  transition: all 0.5s;
}

.btn:hover {
  background-color: rgb(36, 5, 148);
  font-size: 17px;
}
.btn-container {
  padding: 19px 0;
}

.project {
  display: flex;
  border: 1px solid #f0f0f544;
  padding: 0px 105px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(157, 230, 230),
    rgb(187, 214, 245)
  );
}

.project-img img {
  width: 40vw;
  padding: 69px 12px;
  border-radius: 110px;
}

.project-info {
  padding: 15px;
}

.project-info .text {
  font-size: 27px;
  padding: 10px 0;
  font-weight: bold;
}

.project-info p {
  padding: 12px;
}

.buttons {
  padding: 18px;
}

.row-reverse {
  flex-direction: row-reverse;
}

main {
  margin-top: 50px;
}

/* footer */

footer {
  background-color: rgb(14, 1, 41);
  padding: 20px;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    height: auto;
    padding: 40px 0;
  }

  .project,
  .project1 {
    flex-direction: column;
    text-align: center;
  }


  .left-hero .one{
    text-align: center;
    font-size: 40px;
  }

  .left-hero .two{
    text-align: center;
    font-size: 40px;
  }

  .btn-container {
    text-align: center;
  }


  .right-hero img {
    width: 90vw;
    
}
.right-hero img{
  width: 60vw;
}

.project{
  text-align: center;
  font-size: 20px;
}
  .project-img img,
  .project-img1 img {
    width: 70vw;
    height: auto;
    margin: 0px;
  }

  .project-info{
    padding: 0px 35px;
  }

  footer {
    flex-direction: column;
    height: auto;
  }

  nav {
    flex-direction: column;
    align-items: center;

    height: auto;
    position: static;
    padding: 10px 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
  }

  main {
    margin-top: 0;
  }
}
